


<nav class="navbar navbar-expand-lg bg-body-tertiary" style='background: var(--background);'>
    <div class="container-fluid">
    </br>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'userprofile' %}">Profile&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Dashboard&nbsp;&nbsp;</a>
          </li>
          {% if user.profession == 'staff' %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'upload'%}">Upload Files&nbsp;&nbsp;</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'viewpage' %}">View Files&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Personal Files&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'logout_' %}">Logout&nbsp;&nbsp;</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>